<html>
  <body>
    <p>Dear <%= fiName %>,</p>
    <p>Financial Institution <b><%= responderName %></b> has submitted a response (<b><%= responseType %></b>) for client <b><%= clientName %></b> that you initiated on TraceFI.</p>
    <p>Log in to TraceFI to view the updated status.</p>
    <p>TraceFI Compliance Platform</p>
  </body>
</html>
